/* Start coding here */
header {
    text-align: center;
    width: 100vw;
    height: 20vh;
}

.container {
    width: 100vw;
    height: 80vh;
}


.item1, .item2, .item3, .item4,
.item5, .item6, .item7, .item8 {
    background-color: teal;
    width: 250px;
    height: 250px;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}